/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
}

body {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	/* font-family: "Raleway", sans-serif; */
	/* font-family: "M PLUS Rounded 1c", sans-serif; */
	font-family: "Lora", serif;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	min-height: calc(100vh - 25vh);
}
