.nav_bar {
	width: 100%;
	background-color: white;
	color: #444544;
	height: 15vh;
	border: 1px solid #eee;
}

.nav_bar__content {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_bar__content h1 {
	font-size: 3rem;
	letter-spacing: 3px;
}

.nav_bar img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.nav_links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	font-size: 1.6rem;
	letter-spacing: 2px;
}

.nav_links li:hover {
	text-decoration: underline;
	text-underline-position: under;
}

.nav_links li:first-child {
	margin-right: 2.5rem;
}

.hamburger {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	display: none;
}

.hamburger .hamLine1 {
	background-color: #444544;
	width: 2.5rem;
	height: 0.4rem;
	position: absolute;
	top: 8px;
}

.hamburger .hamLine2 {
	background-color: #444544;
	width: 2.5rem;
	height: 0.4rem;
	position: absolute;
	top: 16px;
}

.hamburger .hamLine3 {
	background-color: #444544;
	width: 2.5rem;
	height: 0.4rem;
	position: absolute;
	top: 24px;
}

@media screen and (max-width: 768px) {
	.nav_links {
		display: none;
	}

	.hamburger {
		display: block;
	}
}


